.layout-topbar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: var(--text-color-secondary);
    border-radius: 50%;
    min-width: 2rem;
    height: 2rem;
    transition: background-color .2s;

    &.topbar-btn-shape-square{
        border-radius: 5px;
    }

    &:hover {
        color: var(--text-color);
        background-color: #e9ecef;
        transition: background-color .2s;
    }

    &:focus {
        outline: 0 none;
        outline-offset: 0;
        transition: box-shadow .2s;
        box-shadow: var(--focus-ring);
    }

    &:active {
        color: var(--text-color);
        background-color: #e2e3e4;
        transition: background-color .2s;
    }

    i {
        font-size: 1.3rem;
    }

    span {
        font-size: 1rem;
    }
}