.login-page-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-image: url('../../assets/images/login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center 100% 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo-layout {
    text-align: center;
    width: 120px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 45px;

    .logo {
      width: 100%;
    }
  }

  .card {
    min-width: 450px;
    padding: 0px 15px;
    font-size: 14px;

    .field {
      margin-bottom: 1.7rem;
    }
  }

  .error-message {
    max-width: 100%;
    min-height: 65px;
    margin-top: -5px;

    .my-message-enter {
      transform: translateY(-50%);
    }
  
    .my-message-enter-active {
      transform: translateY(0);
      transition: transform .2s;
    }

    .my-message-exit {
      transform: translateY(0);
    }
  
    .my-message-exit-active {
      transform: translateY(-50%);
      transition: transform .2s;
    }

    .msg {
      width: calc(450px - 70px);
      font-size: 14px;
      justify-content: left !important;
    }
  }
  
  .login-button {
    margin-bottom: -15px;
    margin-top: 10px;
    width: 100px;
    margin-right: 0px;
    margin-left: auto;
  }

  @media screen and (max-width: 824px) {
    .card {
      width: 70%;
    }

    .error-message {
      .msg {
        width: calc(70vw - 70px);
      }
    }
  }

  @media screen and (max-width: 640px) {
    .card {
      width: 90%;
      min-width: 0;
    }

    .error-message {
      .msg {
        width: calc(90vw - 70px);
      }
    }
  }

}