.card-dashboard-wrapper {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    width: 15.4%;

    .card-dash .p-card-body {
        padding: .6rem 1rem;
    }

    .card-dash .p-card-title {
        margin: 0;
        padding: 0;
        font-size: .9rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        color: var(--surface-900);
    }

    .card-dash .p-card-content {
        margin: 0;
        padding: 0;

        .content-trx > p{
            margin: 0;
            padding: 0;
        }

        .content-trx {
            line-height: 1.4;
            color: var(--surface-900);   

            .trx-p1 {
                font-size: .75rem; 
            }
            .trx-p2 {
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }

    .card-dash .p-card-footer {

        .footer-nilai > p {
            margin: 0;
            padding: 0;
        }

        .footer-nilai {
            line-height: 1.6;
            color: var(--surface-900);   

            .nilai-p1 {
                font-size: .75rem;
            }
            .nilai-p2 {
                font-size: .75rem;
                font-weight: 700;
                max-width: 100%;
                overflow-x: auto;
            }
        }
    }
}