.top-bar-wrapper {
    padding: 6px 20px;
    position: fixed;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    backdrop-filter: blur(12px);
    // background-color: var(--surface-card);
    background-color: rgba(255, 255, 255, 0.712);
    transition: left .2s;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    // box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
    justify-content: space-between;

    .top-bar-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        .logo-img {
            width: 75px;
        }       
    }

    .top-bar-right {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .top-notif-layout {
            position: relative;

            .badge-notif {
                position: absolute;
                top: 3px;
                right: 6px;
            }
        }

        .pipe-line {
            height: 2rem;
            border-left: solid #dbdbdb 1px;
            margin-left: 10px;
            margin-right: 10px;
            justify-content: center;
        }

        .profile-user {
            position: relative;

            .profile-user-btn{
                display: flex;
            }

            .user-avatar-top {
                width: 2rem;
                height: 2rem;
            }          
        }
    }
}