// sidebar
.layout-sidebar {
    position: fixed;
    width: $widthSidebar;
    height: calc(100vh);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 0px;
    left: 0px;
    transition: transform .2s, left .2s;
    background-color: $dark;
    padding: 1.5rem 0;
    // box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
    box-shadow: 4px 2px 16px 0px rgba(51, 51, 51, 0.300);
}