@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-overlay {
            .layout-main-container {
                margin-left: 0;
            }

            .top-bar-wrapper {
                left: 0;
            }

            .layout-sidebar {
                transform: translateX(-100%);
                left: 0;
                top: 0;
                height: 100vh;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.layout-overlay-sidebar-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }

        &.layout-static {
            .top-bar-wrapper {
                left: $widthSidebar;
                width: calc(100% - $widthSidebar);
            }

            .layout-main-container {
                margin-left: $widthSidebar;
            }

            &.layout-static-sidebar-inactive {
                .layout-sidebar {
                    transform: translateX(-100%);
                    left: 0;
                }

                .layout-main-container {
                    margin-left: 0;
                }

                .top-bar-wrapper {
                    width: 100%;
                    left: 0;
                }
            }
        }

        .layout-mask {
            display: none;
        }

        .p-component-overlay {
            z-index: 0 !important;
            display: none;
        }
    }
}

@media (max-width: 539px){
    .layout-wrapper {
        .user-info-wrapper {
            display: none;
            visibility: hidden;
        } 
    }

}

@media (max-width: 991px) {
    .layout-wrapper {
        .layout-main-container {
            margin-left: 0;
        }

        .layout-sidebar {
            transform: translateX(-100%);
            left: 0;
            top: 0;
            height: 100vh;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .layout-mask {
            z-index: 998;
            background-color: var(--mask-bg);

            &.layout-mask-enter-from,
            &.layout-mask-leave-to {
                background-color: transparent;
            }
        }

        .p-component-overlay {
            z-index: 998 !important;
        }

        &.layout-mobile-sidebar-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
            }
            
        }
    }

    .body-overflow-hidden {
        overflow: hidden;
    }
}