.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: var(--surface-ground);
    transition: margin-left .2s;
}

.layout-main {
    flex: 1 1 auto;
    padding: 4.1rem 25px 25px 25px;

}