.app-menu-wrapper {
    .top-app-menu {
        font-size: 13px;
        font-weight: 500;
        padding: 0;
        margin: 0;
        margin-top: -1.5rem;
        display: flex;
        height: calc(2rem + 13px);
        align-items: center;
        justify-content: center;
        color: #bdbdbd;
        text-align: center;
    }   

    .app-menu-items {
        padding-top: 15px;
    }

}

