.footer-wrapper {
    background-color: var(--my-primary);
    padding: 7px 0px;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    transition: left .2s;

    .footer-text {
        color: #ffffff;
        font-size: 12px;
        margin: 0;
        text-align: center;
    }
}