.home-page-wrapper {
    margin: 0;
    padding: 0;

    .profile-list {
        margin: 0;
        margin-bottom: 20px;
    }

    .toogle-dashboard {
        .select-button-dash.p-selectbutton .p-button {
            height: 38px;
            color: #a8a8a8;
            font-size: .8rem;
            font-weight: normal;

            .p-button-label {
                font-weight: 500;
            }

            &:first-child {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            &:last-child {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

            &.p-highlight {
                color: #ffffff;
                background-color: var(--my-primary);
                border-color: var(--my-primary);
            }

        }
    }
}