.panel-dashboard-wrapper {
    .line-panel-dash {
        border-width: 100%;
        border-top: 1px #cacaca solid;
        margin-top: 25px;
    }

    .panel-header-custom.p-panel-header{
        margin: 0;
        padding: 0rem 0rem;
        font-size: 1.2rem;
        color: var(--my-dark);
    }

    .panel-header-custom {
        .btn-togle-panel span {
            font-size: 1rem;
            font-weight: 600;
            color: var(--my-dark);
        }
    }

    .panel-body-custom .p-panel-content {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
    }

    .panel-body-custom {
        .body-card-layout {
            width: 100%;
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0 1.5%;
        }

        .body-card-open > * {
            width: 18.8%;
        }

        @media (max-width: 1280px){
            .body-card > * {
                width: 18.8%;
            }
            .body-card-open > * {
                width: 23.85%;
            }
        }

        @media (max-width: 1024px){
            .body-card > * {
                width: 23.8%;
            }
            .body-card-open > * {
                width: 23.8%;
            }
        }

        @media (max-width: 768px){
            .body-card > * {
                width: 32.3%;
            }
        
        }

        @media (max-width: 540px){
            .body-card > * {
                width: 49%;
            }
        
        }

        @media (max-width: 360px){
            .body-card > * {
                width: 100%;
            }
        
        }
    }
}