.layout-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        &.layout-menuitem-category {
            margin-top: .75rem;

            &:first-child {
                margin-top: 0;
            }
        }

        .layout-menuitem-root-text {
            color:var(--surface-100);
            font-weight: 500;
            margin-bottom: .5rem;
            font-size: .875rem;
        }

        a {
            cursor: pointer;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: color .2s;
            border-radius: 0px;
            padding: .75rem .6rem;
            transition: background-color .15s;
            color:var(--surface-300);
            font-weight: normal;
            margin-bottom: .5rem;
            font-size: .790rem;

            span {
                margin-left: 0.5rem;
            }

            .p-badge {
                margin-left: auto;
            }

            .menuitem-toggle-icon {
                margin-left: auto;
                transition: all 0.2s 0.1s;
            }

            &:focus {
                outline: 0 none;
                outline-offset: 0;
            }

            &:hover {
                background-color: var(--surface-800) ;
                border-color: var(--surface-800);
                opacity: 0.8;
            }

            &.router-link-exact-active {
                font-weight: 500;
                color: var(--surface-50);
                background-color: var(--surface-800);
                border-color: var(--surface-800);
                position: relative;
            }
            &.router-link-exact-active:before{
                position: absolute;
                content: '';
                width: 6px;
                height: 100%;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                left: 0px;
                top: 0px;
                background-color:  var(--surface-50);
            }
        }

        &.active-menuitem {
            > a {
                .menuitem-toggle-icon {
                    transform: rotate(-180deg);
                }
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            &.layout-submenu-wrapper-enter {
                max-height: 0;
            }

            &.layout-submenu-wrapper-enter-active {
                overflow: hidden;
                max-height: 1000px;
                transition: max-height 1s linear;
            }

            &.layout-submenu-wrapper-enter-done {
                transform: none;
            }

            &.layout-submenu-wrapper-exit {
                max-height: 1000px;
            }

            &.layout-submenu-wrapper-exit-active {
                overflow: hidden;
                max-height: 0;
                transition: max-height .45s linear;
            }

            a {
                padding-left: 1.4rem;
                
                &.router-link-exact-active {
                    background-color: var(--surface-700);
                    border-color: var(--surface-700);
                    opacity: 0.8;
                }
                &.router-link-exact-active:before{
                    content: '';
                    width: 0;
                    height: 0;
                    background-color:  transparent;
                }
            }
        }

    }
}