.profile-dash-wrapper {
    display: block;
    color: var(--my-dark);

    .profile-user {
        margin: 0;
        padding: 0;
        font-size: 22px;
        line-height: 1.4;
        font-weight: 700;
    }    
    
    .last-login {
        margin: 0;
        font-size: 13px;
        font-weight: 400;
        margin-top: 5px;
    }
}