.user-info-wrapper {
    margin: 0;
    margin-left: 7px;
    font-weight: 500;
    color: #495057;
    line-height: 0.3;
    align-items: center;
    padding-right: 7px;

    .p1 {
        font-size: 12px;
    }

    .p2 {
        font-size: 10px;
    }
}  