:root {
    --my-primary: #2569A5;
    --my-dark: #474747;
}

.p-button-primary {
    background: $primary !important;
    border-color: $primary !important;
}

.p-button.p-button-text {
    color: $primary;
}

.p-button.p-button-text:enabled:hover, .p-button.p-button-text:not(button):not(a):not(.p-disabled):hover {
    background: rgba(99, 102, 241, 0.04);
    color: $primary;
}

.p-button.p-button-text:enabled:active, .p-button.p-button-text:not(button):not(a):not(.p-disabled):active {
    background: rgba(99, 102, 241, 0.16);
    color: $primary;
}