.top-menu-wrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;

    // animation
    .my-notif-anim-enter {
        transform: translateY(10px);
        opacity: 0;
    }
    
    .my-notif-anim-enter-active {
        transform: translateY(0);
        transition: transform .12s;
        opacity: 1;
    }
  
    .my-notif-anim-exit {
        transform: translateY(0px);
        opacity: 1;
    }

    .my-notif-anim-exit-active {
        transform: translateY(5px);
        transition: transform .1s;
        opacity: 1;
    }
    
    > ul {
        position: absolute;
        top: .46rem;
        right: 0;
        background: #ffffff;
        list-style: none;
        margin: 0;
        padding: 0.5rem;
        z-index: 999;
        min-width: 245px;
        border: 0 none;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        animation-duration: .2s;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        border-radius: 4px;
        transform-origin: center top;

        &.ul-width-short {
            min-width: 160px;
        }

        &.ul-width-long {
            min-width: 300px;
        }

        &.list-select-line {
            .li-select-textmenu {
                border-bottom: #e9ecef 1px solid;
            }
        }

        .li-select-textmenu {
            cursor: pointer;
            border-radius: 4px;
            
            &:hover {
                background: #e9ecef;
            }

            
            .p-title-menu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding: .4rem .5rem 0 .5rem;
                margin-bottom: -5px;

                .span-title{
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--my-primary);
                }

                .span-subtitle{
                    font-size: 12px;
                    color: #777777;
                }
            }

            a {
                color: #495057;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                transition: background-color .2s;
                text-decoration: none;
                width: auto;
                height: auto;
                font-size: .875rem;
                font-weight: 400;
                padding: .6rem .5rem .6rem .5rem;
            }
        }

        &.ul-top-menu {
            i {
                margin-right: .5rem;
            }

            .li-message-empty {
                font-size: .875rem;
                user-select: none;
                text-align: center;
                padding: 10px 0px;
                color: #777777;
            }
        }
       
    }

    .btn-show-all-menu {
        float: right;
        margin-top: 10px;
        padding-bottom: 5px;     
    }
}

@media (max-width: 380px){
    .top-menu-wrapper {
        position: static;

        > ul {
            position: fixed;
            top: calc(2rem + 13px);
            left: 0;
            width: 100%;
            right: auto;
        }
    }
}